%box-shadow {
    @include themify($themes) {
        box-shadow: 0 pixel-to-rem(3) pixel-to-rem(5) get-color(wrapper-box-shadow-color);
    }
}

%border-radius {
    border-radius: pixel-to-rem(16);
}

%wrapper {
    @extend %border-radius;
    @extend %box-shadow;
    
    height: 100%;
    width: 100%;
}

%wrapper-bounded{
    height: 100%;
    width: 100%;
    max-width: $max-container-width;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%align-center {
    display: flex;
    align-items: center;
}

%heading {
    font-family: $serif-bold;
}

%h2 {
    @extend %heading;

    font-size: 2rem;
    margin-bottom: 1rem;
}

%h3 {
    @extend %heading;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}