%box-shadow {
    @include themify($themes) {
        box-shadow: 0 0.1875rem 0.3125rem get-color(wrapper-box-shadow-color);
    }
}

%border-radius {
    border-radius: 1rem;
}

%wrapper {
    @extend %border-radius;
    @extend %box-shadow;
    
    height: 100%;
    width: 100%;
}

%wrapper-bounded{
    height: 100%;
    width: 100%;
    max-width: $max-container-width;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%align-center {
    display: flex;
    align-items: center;
}