$max-container-width: 90rem;

$padding-tight: 0.25rem;
$padding-normal: 0.5rem;
$padding-free: 0.75rem;
$padding-1: 1rem;
$padding-large: 1.25rem;

$icon-dimension: 1.125rem;

$sans-serif-regular: muli-regular;
$sans-serif-bold: muli-bold;
$sans-serif-light: muli-light;

$serif-regular: ibm-regular;
$serif-bold: ibm-bold;
$serif-light: ibm-light;


$transition: 0.3s;