$dark: (
    main-background: #222,
    header-background: #000,
    sidebar-background: #000,
    sidebar-text-color: #eee,
    sidebar-text-active-color: #ffdd67,
    sidebar-border-color: #ffdd67,
    sidebar-item-active-background: #101010,
    wrapper-box-shadow-color: #111,
    workspace-background: #000,
)