$light: (
    text-color: #000,
    main-background: #EEF2F5,
    header-background: #FFF,
    sidebar-background: #FFF,
    sidebar-text-color: #111,
    sidebar-text-active-color: #0072bc,
    sidebar-border-color: #0072bc,
    sidebar-item-active-background: #f7f7f7,
    wrapper-box-shadow-color: #eee,
    workspace-background: #fff,
    form-label-color: #333,
)