$primary-color-light: #0072bc;

$light: (
    primary-color: $primary-color-light,
    primary-background-text-color: #fff,
    text-color: #000,
    main-background: #EEF2F5,
    header-background: #FFF,
    
    // Sidebar
    sidebar-background: #FFF,
    sidebar-text-color: #111,
    sidebar-text-active-color: $primary-color-light,
    sidebar-border-color: $primary-color-light,
    sidebar-item-active-background: #f7f7f7,
    // -------

    wrapper-box-shadow-color: #ccc,
    workspace-background: #fff,
    
    // form
    form-deactive-color-text: #aaa,
    form-active-color-text: #101010,
    // ----------

    // Component
    input-border-deactive-color: #aaa,
    input-border-active-color: $primary-color-light,
    pre-background: #001628,
    // // code token
    code-heading: #ffdd67,
    code-string: #fab696,
    code-function: #4271ae,
    code-keyword: #5edfff,
    code-operator: #fd5e53,
    code-number: #f5871f,
    code-punctuation: #21bf73,
    code-constant: #f5d67b,

)