$light: (
    main-background: #EEF2F5,
    header-background: #FFF,
    sidebar-background: #FFF,
    sidebar-text-color: #111,
    sidebar-text-active-color: #0f4c81,
    sidebar-border-color: #0f4c81,
    sidebar-item-active-background: #f7f7f7,
    wrapper-box-shadow-color: #eee,
)