.form {
    display: flex;
    flex-direction: column;
    padding: $padding-large;

    .form-group {
        display: flex;
        flex-direction: column;
    }

    .form-button-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: $padding-large;
    }

    .label {
        font-size: 0.75rem;
        display: block;

        @include themify($themes) {
            color: get-color(text-color)
        }
    }
}