$height: 4.375rem;
$logo-dimension: 2rem;

.header {
    @extend %flex-center;

    @include themify($themes) {
        background: get-color(header-background);
    }

    height: $height;
    width: 100%;

    .wrapper {
        @extend %wrapper-bounded;
        @extend %flex-center;
        
        justify-content: flex-start;
    }

    .logo {
        height: $logo-dimension;
        width: auto;
        padding: $padding-tight $padding-large;
    }
}