.main {
    @include themify($themes){
        background: get-color(main-background)
    }

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-wrapper{
        @extend %wrapper-bounded;
        display: flex;
        padding: $padding-large;
        overflow: hidden;
    }
}