$width: 15rem;

.sidebar {
    width: $width;
    margin-right: $padding-large;

    .wrapper{
        @extend %wrapper;
        @include themify($themes) {
            background: get-color(sidebar-background)
        }

        padding: $padding-large 0;
        height: auto;
        margin-bottom: 2rem;

        .heading{
            font-family: muli-bold;
            font-size: 1.25rem;
            padding: 0px $padding-large $padding-normal;
        }
    }

    .item {
        @extend %align-center;

        @include themify($themes) {
            color: get-color(sidebar-text-color);

            .icon {
                fill: get-color(sidebar-text-color);
            }
        }

        &.active, &:hover {
            @include themify($themes) {
                border-left: 0.25rem solid get-color(sidebar-border-color);
                color: get-color(sidebar-text-active-color);
                background: get-color(sidebar-item-active-background);
                .icon {
                    fill: get-color(sidebar-text-active-color);
                }
            }
            padding: $padding-tight $padding-large $padding-tight $padding-1;
        }

        &.active{
            font-family: $sans-serif-bold;  
        }


        padding: $padding-tight $padding-large ;
        font-family: $sans-serif-regular;

        .icon {
            height: $icon-dimension;
            width: $icon-dimension;

        }

        .title {
            padding-left: $padding-normal;
            display: inline-block;
            flex: 1;
        }
    }
}