.msg-sm {
    @extend %border-radius;
    padding: $padding-large;
    font-size: pixel-to-rem(12);

    // This margin will be remove in final stage. This is here for minor fix.
    margin: 0 pixel-to-rem(20);
    
    @include themify($themes) {
        &.warning{
            background: get-color(warning-msg-background);
            color: get-color(warning-msg-color)
        }

        &.error{
            background: get-color(error-msg-background);
            color: get-color(error-msg-color)
        }

        &.success{
            background: get-color(success-msg-background);
            color: get-color(success-msg-color)
        }
    }
}